.body__header nav h1 {
    color: var(--whiteFixed);
}

.aside {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 110px;
    right: 350px;
    width: 350px;
    gap: 10px;
}

.nav__btnSair {
    background: none;
    color: var(--whiteFixed);
}

main {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.main__postagem--info {
    position: relative;
    top: 100px;
    width: 70%;
    max-width: 713px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
}

.main__postagem--img img {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 1px solid var(--brand1);
}

.main__postagem--info form {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}

.main__postagem--info form input {
    width: 100%;
}

.form__input--descPost {
    min-height: 130px;
}

.form__input--titlePost {
    min-height: 52px;
}

.main__postagem--info form button {
    height: 38px;
    width: 69px;
    border-radius: 4px;
}

.main__dashboard--section {
    display: flex;
    position: relative;
    top: 120px;
    flex-direction: column;
    width: 70%;
    max-width: 713px;
    gap: 25px;
}

.main__dashboard--section ul {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.section__li {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section__divInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 60px;
    width: 184px;
    gap: 10px;
    align-items: flex-start;
}

.section__divText {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section__divInfo>img {
    width: 52px;
    height: 52px;
    border-radius: 100px;
}

.section__divButtons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section__divButtons img {
    width: 22px;
    height: 20px;
}

.imgLike {
    background-image: url("/src/assets/Vector.png");
    transition: 2s;
}

.section__divButtons button {
    width: 92px;
    height: 38px;
    border-radius: 4px;
    padding: 0px 12px 0px 12px;
}

.div__modal {
    width: 90%;
    max-width: 761px;
    padding: 40px 24px;
    gap: 32px;
    background: var(--whiteFixed);
    border: 1px solid rgb(204, 204, 204);
    height: 80%;
    max-height: 544px;
    position: fixed;
    display: flex;
    top: -500%;
    border-radius: 8px;
    margin: 0px auto;
    z-index: 1;
    transition: all 800ms ease 0s;
    flex-direction: column;
    align-items: flex-start;
}

.showModal {
    top: 100px;
}

.opacityBackgroundModal {
    background: #ccc;
    opacity: 20%;
}

.modal__divImgTitle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 60px;
    width: 184px;
    gap: 10px;
    align-items: flex-start;
}

.modal__divImgTitle img {
    width: 52px;
    height: 52px;
    border-radius: 100px;
}

.closeModal {
    position: absolute;
    right: 60px;
    top: 34px;
    font-size: 20px;
    color: black;
}

.div__modal--post {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


@media (min-width: 1024px) {
    .aside {
        display: flex;
        position: fixed;
        flex-direction: column;
        top: 100px;
        right: 20px;
        width: 250px;
        gap: 15px;
    }

    .aside ul {
        display: flex;
        width: 100%;
    }

    .aside li {
        display: flex;
        align-items: flex-start;
        width: 100%;
        gap: 10px;
    }

    .aside li div {
        width: 50%;
    }

    .aside__button {
        width: 44px;
        height: 28px;
        background-color: var(--whiteFixed);
        border: 1px solid var(--brand1);
        max-width: 98px;
        content: "Seguir";
    }

    .buttonFollowing {
        content: "Seguindo";
        width: 98px;
        background-color: var(--brand1);
    }

    .aside img {
        width: 52px;
        height: 52px;
        border-radius: 100px;
        border: 1px solid var(--brand1);
    }
}

@media (min-width: 1440px) {
    .aside {
        display: flex;
        position: fixed;
        flex-direction: column;
        top: 110px;
        right: 350px;
        width: 350px;
        gap: 10px;
    }

    .aside ul {
        display: flex;
        width: 100%;
    }

    .aside li {
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: 67px;
        gap: 4px;
    }

    .aside li div {
        width: 50%;

    }

    .aside__button {
        width: 44px;
        height: 28px;
        background-color: var(--whiteFixed);
        border: 1px solid var(--brand1);
        max-width: 98px;
        content: "Seguir";
    }

    .buttonFollowing {
        content: "Seguindo";
        width: 98px;
        background-color: var(--brand1);
    }

    .aside img {
        width: 52px;
        height: 52px;
        border-radius: 100px;
        border: 1px solid var(--brand1);
    }
}

@media (min-width: 1440px) {
    .aside {
        display: flex;
        position: fixed;
        flex-direction: column;
        top: 110px;
        right: 350px;
        width: 350px;
        gap: 10px;
    }

    .aside ul {
        display: flex;
        width: 100%;
    }

    .aside li {
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: 67px;
        gap: 4px;
    }

    .aside li div {
        width: 50%;

    }

    .aside__button {
        width: 44px;
        height: 28px;
        background-color: var(--whiteFixed);
        border: 1px solid var(--brand1);
        max-width: 98px;
        content: "Seguir";
    }

    .buttonFollowing {
        content: "Seguindo";
        width: 98px;
        background-color: var(--brand1);
    }

    .aside img {
        width: 52px;
        height: 52px;
        border-radius: 100px;
        border: 1px solid var(--brand1);
    }
}