.body__header {
    background-color: var(--grey1);
    width: 100%;
    height: 72px;
    z-index: 1;
    position: fixed;
}

.body__header nav {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    justify-content: space-between;
}


.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 30px;
    width: 80%;
    margin-top: 0;
    background-color: var(--whiteFixed);
    border-radius: 8px;
    box-shadow: 0px 1px 5px -1px;
    transition: 550ms;
}

.modal form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 14px;
}

.modal form input {
    width: 100%;
    max-width: 431px;
    height: 52px;
}

.modal span {
    text-align: center;
}

.form__button {
    background-color: var(--brand1);
    color: var(--whiteFixed);
    border-radius: 4px;
    width: 100%;
    max-width: 431px;
    height: 38px;
}